@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&subset=cyrillic");
/* Icon 1 */
.nav-icon {
  width: 20px;
  height: 12px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #1b1c1e;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.nav-icon span:nth-child(1) {
  top: 0px; }

.nav-icon span:nth-child(2) {
  top: 5px; }

.nav-icon span:nth-child(3) {
  top: 10px; }

.nav-icon.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

.nav-icon.open span:nth-child(3) {
  top: 5px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.bx-controls {
  -ms-order: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 194px;
  position: relative; }
  .bx-controls-direction a {
    position: absolute;
    color: #26292c;
    opacity: 0.2;
    -webkit-transition: .3s all;
    transition: .3s all; }
    .bx-controls-direction a:hover {
      opacity: 0.7;
      text-decoration: none; }

.bx-prev {
  display: inline-block;
  font-family: "FontAwesome";
  left: -10px;
  top: 5px; }
  .bx-prev:before {
    content: "\f104";
    font-size: 78px; }

.bx-next {
  display: inline-block;
  font-family: "FontAwesome";
  right: -10px;
  top: 5px; }
  .bx-next:before {
    content: "\f105";
    font-size: 78px; }

.bx-viewport {
  -ms-order: 2;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  height: auto !important; }

.bx-pager {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .bx-pager-item {
    display: inline-block; }
    .bx-pager-item:nth-child(1) .bx-pager-link {
      background-image: url(../images/user1.jpg); }
    .bx-pager-item:nth-child(2) .bx-pager-link {
      background-image: url(../images/user2.jpg); }
    .bx-pager-item:nth-child(3) .bx-pager-link {
      background-image: url(../images/user3.jpg); }
  .bx-pager-link {
    text-indent: -9000px;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: 100%;
    opacity: 0.5;
    -webkit-transition: .3s all;
    transition: .3s all;
    position: relative;
    top: 15px; }
    .bx-pager-link.active {
      width: 130px;
      height: 130px;
      opacity: 1;
      -webkit-box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.15);
      box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.15);
      position: relative;
      top: 0; }

.bx-wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

body {
  font-family: 'Roboto', sans-serif;
  background: #FFF;
  color: #26272D; }

.container-fluid {
  max-width: 1200px; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-weight: 600;
  font-size: 2.7rem; }

h3 {
  font-size: 2.57rem; }

p {
  color: #8C8F94; }

.header {
  color: #26272D;
  padding-top: 36px;
  padding-bottom: 36px;
  -webkit-transition: .3s all;
  transition: .3s all; }
  .header--scrolled {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    padding-top: 16px;
    padding-bottom: 16px;
    background: #F7F7F7; }
  .header--open {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    background: #F7F7F7; }

.logo {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: -83px 0px;
  width: 140px;
  height: 13px;
  text-indent: -9000px; }

.logo-block {
  text-align: center;
  padding-top: 14px; }

.btn {
  border-radius: 25px;
  padding: .5rem 1rem; }
  .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-get-app {
    padding-right: 25px;
    padding-left: 20px; }
    .btn-get-app i {
      margin-right: 18px;
      font-size: 20px; }
  .btn-play {
    padding: 11px 45px; }
    .btn-play i {
      font-size: 13px;
      margin-right: 12px; }
  .btn-outline-secondary {
    color: #26272D;
    border-color: #DADCDF; }
  .btn-primary {
    background: #267DF4; }

.nav-link {
  color: #26272d;
  padding: .5rem 1.55rem .5rem .9rem; }
  .nav-link:hover {
    color: #26272d; }
  .nav-link:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #26272d;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out; }
  .nav-link:hover:after, .nav-link:focus:after {
    width: 100%; }

.topmenu-collapse {
  padding-top: 30px; }

.mobile-menu ul {
  list-style: none;
  padding-left: 0;
  padding-top: 18px; }

.mobile-menu li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center; }

.mobile-menu a {
  display: block;
  padding: 10px;
  color: #26272D; }

.mobile-menu .btn {
  margin-top: 10px;
  margin-bottom: 0px; }

.top {
  text-align: center;
  margin-bottom: 120px;
  padding-top: 190px;
  background-image: url(../images/banner_background.jpg);
  background-position: top center;
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  overflow: hidden; }
  .top__content {
    font-size: 20px;
    color: #8C8F94;
    padding: 25px 20px;
    margin-bottom: 15px; }

.icon {
  display: inline-block; }

.iphone {
  display: block;
  width: 369px;
  height: 455px;
  background-image: url(../images/header_iphone.png);
  margin-top: 55px;
  position: relative;
  top: 1px; }

.features .container {
  border-bottom: 1px solid #F4F4F4;
  padding-bottom: 95px; }

.features__block {
  padding-left: 36px; }

.features__icon {
  height: 90px;
  padding-left: 3px;
  padding-top: 1px; }

.features__title {
  font-size: 26px;
  font-weight: 600;
  color: #26272D;
  margin-bottom: 32px; }

.features__content {
  color: #8C8F94;
  font-size: 18px; }
  .features__content p {
    margin-bottom: 24px;
    padding-right: 25px; }

.locker-icon {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 42px;
  height: 51px; }

.clock-icon {
  background-image: url(../images/sprite.png);
  background-position: -42px 0px;
  width: 41px;
  height: 47px;
  position: relative;
  top: 2px; }

.about {
  padding-top: 120px;
  padding-bottom: 112px; }
  .about__image {
    position: relative;
    right: 322px;
    top: 0px; }
  .about__title {
    margin-bottom: 65px;
    margin-left: 3px; }
  .about__content {
    font-size: 20px;
    color: #8C8F94;
    padding-left: 3px;
    margin-bottom: 68px; }
    .about__content p {
      margin-bottom: 23px; }
  .about__block {
    margin-left: -5px;
    padding-top: 135px;
    margin-bottom: 70px; }
  .about-btn {
    margin-right: 16px;
    padding-left: 30px; }
    .about-btn i {
      margin-left: 45px;
      font-size: 12px; }

.btn-more {
  padding-left: 30px;
  padding-right: 30px; }

.interface {
  text-align: center;
  padding-top: 93px;
  padding-bottom: 113px; }
  .interface__content {
    min-height: 965px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .interface__content img {
      -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
      margin: 10px; }
      .interface__content img.main-img {
        -webkit-box-shadow: none;
        box-shadow: none; }
  .interface__img {
    min-width: 1799px; }

.grey-bg {
  background: #F5F5F8; }

.section-title {
  font-size: 2.57rem;
  margin-bottom: 80px;
  position: relative; }
  .section-title:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #267DF4;
    position: absolute;
    left: 50%;
    top: 88px;
    margin-left: -27px; }

.section-subtitle {
  text-transform: uppercase;
  font-size: 12px;
  color: #8C8F94;
  letter-spacing: 1px;
  margin-bottom: 24px; }

.getit {
  text-align: center; }
  .getit__title {
    margin-bottom: 50px; }
  .getit-btn {
    padding-right: 24px;
    padding-left: 30px; }
    .getit-btn i {
      margin-left: 15px;
      font-size: 12px; }

.form-get {
  padding: 0 20px; }
  .form-get .form-group {
    border-radius: 25px;
    border: 1px solid #CBCBCE;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .form-get .form-control {
    background: none;
    border: none;
    padding: .375rem 1.2rem;
    color: #3A3D4B; }
    .form-get .form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none; }
      .form-get .form-control:focus::-webkit-input-placeholder {
        color: transparent;
        -webkit-transition: .3s all;
        transition: .3s all; }
      .form-get .form-control:focus::-moz-placeholder {
        color: transparent;
        -webkit-transition: .3s all;
        transition: .3s all; }
      .form-get .form-control:focus:-moz-placeholder {
        color: transparent;
        -webkit-transition: .3s all;
        transition: .3s all; }
      .form-get .form-control:focus:-ms-input-placeholder {
        color: transparent;
        -webkit-transition: .3s all;
        transition: .3s all; }

.slider-wrapper {
  min-height: 708px;
  padding-top: 129px; }

.slider__rating {
  color: #f2bc3b;
  margin-bottom: 60px; }
  .slider__rating i {
    font-size: 25px;
    margin: 0 3px 0 2px; }
  .slider__rating .star-off {
    color: #787878; }

.slider__title {
  font-size: 32px;
  margin-bottom: 36px; }

.slider__author {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.slider__text {
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 27px; }

.slider-item {
  text-align: center; }

.footer .container-fluid {
  padding-top: 105px;
  border-top: 1px solid #f4f4f4;
  padding-bottom: 110px; }

.footer__logo {
  margin-bottom: 20px; }

.footer__text {
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 20px; }

.footer__social a {
  font-size: 18px;
  color: #BDBEC0;
  margin-right: 24px;
  -webkit-transition: .3s all;
  transition: .3s all; }
  .footer__social a:hover {
    text-decoration: none;
    color: #88898a; }

.fmenu__title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #26272D;
  margin-bottom: 15px; }

.fmenu__list {
  list-style: none;
  padding-left: 0; }
  .fmenu__list li {
    margin-bottom: 12px; }
  .fmenu__list a {
    color: #8C8F94;
    display: inline-block; }
    .fmenu__list a:hover {
      text-decoration: none; }
    .fmenu__list a:after {
      display: block;
      content: "";
      height: 1px;
      position: relative;
      top: -2px;
      width: 0%;
      background-color: #8C8F94;
      -webkit-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out; }
    .fmenu__list a:hover:after, .fmenu__list a:focus:after {
      width: 100%; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; }
  .navbar--right {
    padding-right: 0; }
    .navbar--right .nav-link:first-child {
      padding-right: 1.25rem; } }

@media (max-width: 1599px) {
  .top {
    background-size: auto 100%; } }

@media (max-width: 1199px) {
  .nav-link {
    padding-left: .7rem;
    padding-right: .7rem; }
  .btn-get-app {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: .5rem; }
    .btn-get-app i {
      margin-right: 10px; }
  .about__image {
    max-width: 150%;
    height: auto;
    position: relative; }
  .slider-wrapper {
    min-height: 820px; } }

@media (max-width: 991px) {
  .nav-link {
    font-size: 14px;
    padding-left: .3rem;
    padding-right: .3rem; }
  .btn-get-app {
    font-size: 14px; }
  .features__block {
    padding-left: 0; }
  .about {
    padding-top: 0; }
    .about__image {
      max-width: 100%;
      left: 0;
      top: 0; }
    .about__block {
      padding-top: 50px; } }

@media (max-width: 767px) {
  .header--open {
    padding-top: 18px;
    padding-bottom: 0; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.8rem; }
  .section-title {
    font-size: 2rem; }
  .top {
    padding-top: 160px; }
    .top__content {
      font-size: 18px; }
  .about__title {
    margin-bottom: 30px; }
  .about-btn i {
    margin-left: 10px; }
  .about .btn {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px; }
  p {
    font-size: 18px; }
  .bx-pager {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%; }
  .bx-controls-direction {
    display: none; }
  .slider-wrapper {
    padding-top: 60px;
    min-height: 640px; }
  .footer .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer__social {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .fmenu {
    margin-bottom: 30px; }
    .fmenu__list li {
      font-size: 14px; }
  .form-get {
    padding-left: 0;
    padding-right: 0; }
    .form-get .btn {
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px; }
      .form-get .btn i {
        margin-left: 10px; }
  .form-control {
    font-size: 14px; }
  .features .container {
    padding-bottom: 50px; }
  .interface img {
    width: 16%;
    height: auto; }
  .interface__content {
    min-height: 730px; } }

@media (max-width: 479px) {
  .bx-pager {
    padding-left: 0;
    padding-right: 0; }
    .bx-pager-link {
      width: 70px;
      height: 70px; }
      .bx-pager-link.active {
        width: 90px;
        height: 90px; }
  .bx-controls {
    height: 140px; }
  .slider-wrapper {
    min-height: 690px; }
  .iphone {
    width: 300px;
    height: 370px;
    background-size: 100% auto; } }
