.container {
    margin: 0px 100px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    padding-top: 30px;
}
.sidebar {
    margin-left: 50px;
}
.gameboard {

}
.gameboard__row {
    display: flex;
}
.gameboard__item {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}
.gameboard__item--active {
    background: #74ABDB;
    border: 1px solid #74ABDB;
}
.gameboard__item--hit {
    background: #00cc66;
    border: 1px solid #00cc66;
}
.gameboard__item--miss {
    background: #ff3300;
    border: 1px solid #ff3300;
}
.controls {
    margin-bottom: 30px;
}
.leaders {
    border-collapse: collapse;
    border: 1px solid #ccc; 
}
.leaders td {
    padding: 15px 20px;
}
.leaders tr:nth-child(odd) td {
    background: #E5F0FF;
}

.message {
    margin-bottom: 30px;
}