html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, ./app/vendor/reset-css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ./app/vendor/reset-css/_reset.scss */
body {
  line-height: 1; }

/* line 34, ./app/vendor/reset-css/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ./app/vendor/reset-css/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 39, ./app/vendor/reset-css/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 44, ./app/vendor/reset-css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 4, /assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, /assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-family: 'PT Sans', sans-serif; }

body {
  background: #F2F2F2;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000; }

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 31px; }

h2 {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase; }

.mobile-menu {
  display: none;
  position: relative; }
  .mobile-menu a {
    display: block;
    text-align: center;
    height: 54px;
    line-height: 54px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    background: #81b3d2;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
    .mobile-menu a:hover {
      background: #669EC0; }
    .mobile-menu a:active {
      background: #5496BD;
      color: #88b6d1; }
  .mobile-menu li {
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8; }
    .mobile-menu li:first-child {
      border-top: 1px solid #81B3D2; }

.mobile-menu-close {
  display: block;
  position: absolute;
  top: 15px;
  right: 16px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer; }
  .mobile-menu-close:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 28px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 0; }
  .mobile-menu-close:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0; }

.container {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2); }

.header {
  position: relative;
  min-height: 357px;
  background: url(../img/header.jpg) center 0 no-repeat;
  margin-bottom: 109px;
  position: relative; }
  .header:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFF;
    height: 57px;
    width: 100%;
    background: url(../img/intro.png) center 0 no-repeat; }

.menu-btn {
  display: none; }

.header-title {
  position: absolute;
  top: 158px;
  left: 50%;
  margin-left: -230px; }

.logo {
  background: url(../img/logo.png) 0 0 no-repeat;
  display: inline-block;
  width: 188px;
  height: 96px;
  text-indent: -9000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -94px; }

.topmenu {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #FFF; }

.topmenu-item {
  display: flex; }
  .topmenu-item a {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; }
    .topmenu-item a:hover {
      color: #81b3d2; }
    .topmenu-item a:active {
      color: #B2B2B2; }
  .topmenu-item li {
    padding: 20px 69px; }
    .topmenu-item li.active a {
      color: #766357; }
      .topmenu-item li.active a:hover {
        color: #604e43; }
      .topmenu-item li.active a:active {
        color: #d6d0cc; }

.topmenu-left li {
  padding-left: 92px; }

.top {
  text-align: center;
  margin-bottom: 63px; }

.page-descr {
  text-transform: uppercase;
  color: #333;
  max-width: 450px;
  margin: auto;
  line-height: 1.6em; }

.content {
  padding: 0 120px;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section {
  margin-bottom: 68px; }

.section-impress {
  width: 50%; }
  .section-impress .section-title {
    padding-left: 80px; }

.section-intro {
  width: 50%;
  padding-left: 80px; }

.section-contact {
  margin-bottom: 54px;
  width: 100%; }
  .section-contact .section-cont {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

.section-mem {
  margin-bottom: 46px;
  width: 100%; }

.section-emo {
  margin-bottom: 66px;
  width: 100%; }

.section-title {
  margin-bottom: 60px; }

.radio-input {
  display: none; }

.radio-input + .radio-label {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  .radio-input + .radio-label:hover:before {
    background: #e5e5e5; }
  .radio-input + .radio-label:active:before {
    background: #d5d5d5; }

.radio-input + .radio-label:before {
  content: "";
  width: 56px;
  height: 56px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #F2F2F2;
  display: inline-block;
  margin-right: 20px; }

.radio-block {
  margin-top: 20px;
  padding-left: 4px;
  padding-top: 2px; }

.radio-input:checked + .radio-label:before {
  border: 17px solid #f2f2f2;
  background: #333333; }

.col-right-cont {
  padding-left: 80px; }

.input-block {
  margin-top: 20px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative; }

.input-text {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 58px;
  background: #f2f2f2;
  border: 4px solid #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  font-family: 'PT Sans', sans-serif; }
  .input-text:focus {
    background: #fff !important;
    outline: none; }
  .input-text:hover {
    background: #e5e5e5;
    border-color: #E5E5E5; }

.input-label {
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 15px; }

.page-title-h2 {
  text-align: center;
  margin-bottom: 55px;
  position: relative;
  line-height: 1.2em; }
  .page-title-h2:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    width: 400px;
    margin-left: -200px;
    height: 10px;
    background: #fff;
    display: block;
    z-index: 2; }
  .page-title-h2:after {
    content: "";
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background: #dbdbdb;
    display: block;
    z-index: 1; }
  .page-title-h2 span {
    position: relative;
    z-index: 3;
    display: inline-block;
    max-width: 300px; }

.title-mem {
  margin-bottom: 41px; }

.title-emo {
  margin-bottom: 58px; }

.btn {
  height: 58px;
  min-width: 58px;
  text-align: center;
  border: none;
  cursor: pointer;
  background: #E6E6E6;
  display: inline-block; }

.input-text-wrapper {
  position: relative; }
  .input-text-wrapper .input-text {
    min-width: 260px; }

.input-error {
  position: absolute;
  left: 22px;
  top: -27px;
  color: #FF5C5C; }

.input-field {
  display: flex; }

.fa-phone {
  font-size: 24px !important; }

.fa-envelope {
  font-size: 18px !important; }

.checkbox-input {
  display: none; }

.checkbox-input + .checkbox-label {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  .checkbox-input + .checkbox-label:hover:before {
    background: #E5E5E5; }
  .checkbox-input + .checkbox-label:active:before {
    background: #d5d5d5; }
  .checkbox-input + .checkbox-label:active:after {
    border-left: 4px solid #A4A4A4;
    border-bottom: 4px solid #A4A4A4; }

.checkbox-input + .checkbox-label:before {
  content: "";
  width: 56px;
  height: 56px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #F2F2F2;
  display: inline-block;
  margin-right: 23px;
  margin-left: -2px; }

.checkbox-block {
  margin-bottom: 20px;
  padding-left: 4px;
  padding-top: 2px; }

.checkbox-input:checked + .checkbox-label:after {
  width: 20px;
  height: 14px;
  content: "";
  display: inline-block;
  border-left: 4px solid #231f20;
  border-bottom: 4px solid #231f20;
  position: absolute;
  left: 19px;
  top: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.checkbox-block {
  position: relative; }

.check-row {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.textarea {
  width: 100%;
  height: 160px;
  padding: 17px 20px;
  border: none;
  background: #f2f2f2;
  resize: none;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #000;
  margin-bottom: 56px; }
  .textarea:focus {
    outline: none; }

.btn-blue {
  background: #81B3D2;
  color: #fff; }
  .btn-blue:hover {
    background: #669EC0; }
  .btn-blue:active {
    background: #5496BD;
    color: #94B9D2; }
  .btn-blue:disabled {
    cursor: default;
    background: #E5E5E5; }

.btn-lg {
  width: 100%;
  font-size: 21px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.notif {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  height: 58px; }

.hashtags {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase; }
  .hashtags a {
    color: #000;
    text-decoration: none;
    margin-left: 12px; }

.footer {
  min-height: 120px;
  background: #FEFEFE; }

.footer-row {
  display: flex;
  padding-top: 35px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  -webkit-align-items: center;
  align-items: center; }

.social {
  position: relative;
  left: -10px; }
  .social .btn {
    line-height: 50px;
    height: 48px;
    min-width: 47px;
    margin: 1px 2px 0 0; }
    .social .btn i {
      font-size: 21px !important; }

.dev-logo-svg {
  width: 27px;
  height: 34px;
  margin-left: 11px; }
  .dev-logo-svg:hover {
    fill: #81b3d2; }
  .dev-logo-svg:active {
    fill: #b2b2b2; }

.dev {
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.dev-text {
  text-transform: uppercase; }

.hidden-lg {
  display: none; }

.checkbox-wrapper {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.emo-bottom {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.send-btn {
  width: 50%; }

@media (max-width: 1200px) {
  .container {
    max-width: 768px; }
  .header {
    background: url(../img/header-tablet.jpg) center 0 no-repeat;
    min-height: 346px;
    margin-bottom: 73px; }
  .header-title {
    top: 150px; }
  .logo {
    background: url(../img/logotype-tablet.png) 0 0 no-repeat;
    width: 102px;
    height: 83px;
    margin-left: -51px; }
  .topmenu-item li {
    padding: 20px 38px; }
  .topmenu-left {
    padding-left: 12px; }
  .topmenu-right {
    padding-right: 0; }
    .topmenu-right li {
      padding-left: 25px;
      padding-right: 25px; }
  .topmenu {
    height: 56px;
    background: #FFF; }
  .content {
    padding: 0 55px;
    display: flex;
    flex-wrap: wrap; }
  .section-impress {
    width: 50%;
    max-width: 330px; }
    .section-impress .section-title {
      padding-left: 5px; }
  .section-intro {
    width: 50%;
    max-width: 320px;
    padding-left: 58px;
    border-left: 1px solid #dbdbdb; }
  .section-contact {
    width: 100%;
    padding: 0 5px; }
    .section-contact .section-cont {
      display: block; }
  .section-mem {
    width: 100%;
    padding: 0 5px; }
  .section-emo {
    width: 100%;
    padding: 0 5px; }
  .checkbox-wrapper {
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding: 0 62px; }
    .checkbox-wrapper .checkbox-block {
      min-width: 210px;
      margin-left: 30px;
      margin-bottom: 30px; }
      .checkbox-wrapper .checkbox-block:nth-child(odd) {
        margin-right: 20px; }
      .checkbox-wrapper .checkbox-block:nth-child(even) {
        margin-right: 24px;
        margin-left: 0; }
  .checkbox-input + .checkbox-label:before {
    margin-left: 0; }
  .top {
    margin-bottom: 78px; }
  .col-right-cont {
    padding-left: 0; }
  .input-text {
    width: 150px; }
  .section {
    margin-bottom: 70px; }
  .section-title {
    margin-bottom: 60px; }
  .col-left-cont {
    margin-left: -3px; }
  .section-contact {
    margin-bottom: 55px; }
    .section-contact .row {
      display: block; }
    .section-contact .col {
      width: 100%;
      display: block; }
    .section-contact .input-block {
      display: block;
      margin-top: 30px; }
    .section-contact .input-field {
      display: flex;
      width: 100%; }
    .section-contact .input-text-wrapper {
      width: 100%; }
    .section-contact .input-text {
      width: 100%; }
    .section-contact .input-label-wrapper {
      margin-bottom: 12px;
      padding-left: 22px; }
    .section-contact .input-error {
      right: -58px;
      left: auto; }
    .section-contact .page-title-h2 {
      margin-bottom: 31px; }
  .visible-lg {
    display: none; }
  .hidden-lg {
    display: inline-block; }
  .section-mem {
    margin-bottom: 38px; }
  .notif {
    position: relative;
    top: 2px; }
  .section-emo {
    margin-bottom: 60px; }
  .footer-row {
    padding-left: 60px;
    padding-right: 60px; }
  .hashtags a {
    margin-left: 0;
    margin-right: 12px; }
  .send-btn {
    width: 50%; }
  .emo-bottom {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .textarea {
    margin-bottom: 56px; }
  .footer-row {
    padding-top: 36px; } }

@media (max-width: 767px) {
  .container {
    max-width: 100%; }
  .header {
    min-height: 215px;
    background: url(../img/header-tablet.jpg) center bottom no-repeat;
    margin-bottom: 41px; }
  .header-title {
    top: 108px;
    margin-left: -115px; }
    .header-title svg {
      width: 230px;
      height: 40px; }
  .topmenu-item {
    display: none; }
  h1 {
    font-size: 18px; }
  .menu-btn {
    display: inline-block;
    position: absolute;
    right: 11px;
    top: 17px;
    cursor: pointer; }
  .page-descr {
    line-height: 1.75em; }
  .content {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap; }
  .bl {
    border: none; }
  .section-intro {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    width: 100%;
    max-width: 760px; }
  .section-contact {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    padding-bottom: 29px !important;
    margin-bottom: 22px !important; }
    .section-contact .input-block {
      margin-top: 29px; }
    .section-contact .section-cont {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .section-contact .section-title {
      margin-bottom: 0; }
  .section-impress {
    -webkit-order: 3;
    -ms-order: 3;
    order: 3;
    max-width: 760px; }
    .section-impress .section-title {
      margin-bottom: 25px;
      padding-left: 0px; }
  .section-mem {
    -webkit-order: 4;
    -ms-order: 4;
    order: 4; }
  .section-emo {
    -webkit-order: 5;
    -ms-order: 5;
    order: 5; }
  .top {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 16px;
    margin-bottom: 22px; }
  .section-intro {
    border-bottom: 1px solid #E5E5E5;
    padding-left: 10px;
    padding-right: 10px; }
    .section-intro .section-title {
      text-align: center;
      margin-bottom: 25px; }
  .input-text {
    width: 100%; }
  .section {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    width: 100%; }
    .section .page-title-h2 {
      margin-bottom: 29px; }
    .section .input-error {
      position: relative;
      padding-left: 22px;
      top: 11px;
      left: 0;
      right: auto;
      margin-bottom: 6px;
      display: block; }
  .section-title {
    font-size: 18px;
    text-align: center; }
  .page-title-h2 {
    font-size: 18px;
    min-width: 1px;
    margin-bottom: 29px; }
    .page-title-h2:after, .page-title-h2:before {
      display: none; }
  .col {
    min-width: 1px; }
  .input-text-wrapper .input-text {
    min-width: 160px; }
  .radio-block {
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 0; }
  .radio-input + .radio-label:before {
    margin-right: 24px; }
  .checkbox-wrapper {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0; }
    .checkbox-wrapper .checkbox-block {
      margin-bottom: 0; }
      .checkbox-wrapper .checkbox-block:nth-child(2) {
        -webkit-order: 3;
        -ms-order: 3;
        order: 3; }
      .checkbox-wrapper .checkbox-block:nth-child(3) {
        -webkit-order: 2;
        -ms-order: 2;
        order: 2; }
      .checkbox-wrapper .checkbox-block:nth-child(4) {
        -webkit-order: 4;
        -ms-order: 4;
        order: 4; }
  .title-mem {
    line-height: 1.35em;
    margin-bottom: 16px !important; }
  .checkbox-block {
    margin-top: 22px;
    margin-bottom: 0;
    margin-left: 0 !important;
    width: 100%; }
    .checkbox-block:first-child {
      margin-top: 0; }
  .checkbox-input + .checkbox-label:before {
    margin-right: 21px; }
  .title-emo {
    margin-bottom: 22px !important; }
  .textarea {
    margin-bottom: 48px; }
  .send-btn {
    width: 100%; }
  .notif {
    display: none; }
  .section-emo {
    border-bottom: none; }
  .footer-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 23px;
    padding-top: 30px; }
  .hashtags {
    display: flex;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 37px; }
  .social {
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    left: -2px;
    margin-bottom: 39px; }
    .social .btn {
      margin-left: 3px;
      margin-right: 3px; }
  .dev {
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center; } }
