@import 'reset.scss';

body {
    background: #F2F2F2;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #000;
}
h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 35px;
}
h2 {
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
}
.container {
	max-width: 1200px;
	margin: auto;
	background: #fff;
	-webkit-box-shadow: 0 0 15px rgba(0,1,1,.2);
	        box-shadow: 0 0 15px rgba(0,1,1,.2);
}
.header {
	position: relative;
	height: 360px;
	background: url(../img/header.jpg) 0 56px no-repeat;
	margin-bottom: 110px;
}
.logo {
	background: url(../img/logo.png) 0 0 no-repeat;
	display: inline-block;
	width: 188px;
	height: 96px;
	text-indent: -9000px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -94px;
}
.topmenu {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.topmenu-item {
	display: flex;
	a {
		font-weight: bold;
		text-transform: uppercase;
		color: #000;
		text-decoration: none;
	}
	li {
		padding: 20px 70px;
	}
}
.top {
	text-align: center;
	margin-bottom: 65px;
}
.page-descr {
	text-transform: uppercase;
	color: #333;
	max-width: 450px;
	margin: auto;
	line-height: 1.5em;
}
.content {
	padding: 0 120px;
}
.row {
	display: flex;
}
.col {
	-webkit-flex: 1 1 50%;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
}
.col-title {
	padding-left: 80px;
	margin-bottom: 60px;
}
.bl {
	border-left: 1px solid #dbdbdb;
}
.section {
	margin-bottom: 70px;
}
.radio-input {
	display: none;
}
.radio-input + .radio-label {
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.radio-input + .radio-label:before {
	content: "";
	width: 56px;
	height: 56px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #F2F2F2;
	display: inline-block;
	margin-right: 20px;
}
.radio-block {
	margin-bottom: 20px;
	padding-left: 4px;
	padding-top: 2px;
}
.radio-input:checked + .radio-label:before {
	border: 17px solid #f2f2f2;
	background: #333333;
}
.rcont {
	padding-left: 80px;
}
.input-block {
	margin-bottom: 20px;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	position: relative;
}
.input-text {
	-webkit-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	height: 58px;
	background: #f2f2f2;
	border: 4px solid #F2F2F2;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	&:focus {
		background: #fff;
		outline: none;
	}
}
.input-label {
	font-size: 14px;
	text-transform: uppercase;
	padding-right: 15px;
	
}
.page-title-h2 {
	text-align: center;
	margin-bottom: 60px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 45%;
		width: 400px;
		margin-left: -200px;
		height: 10px;
		background: #fff;
		display: block;
		z-index: 2;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0%;
		top: 50%;
		width: 100%;
		height: 1px;
		background: #dbdbdb;
		display: block;
		z-index: 1;
	}
	span {
		position: relative;
		z-index: 3;
		display: inline-block;
		max-width: 300px;
	}
}
.btn {
	height: 58px;
	min-width: 58px;
	text-align: center;
	border: none;
	cursor: pointer;
	background: #E6E6E6;
	display: inline-block;
}
.input-text-wrapper {
	position: relative;
	.input-text {
		max-width: 260px;
	}
}
.input-error {
	position: absolute;
	left: 20px;
	top: -25px;
	color: #FF5C5C;
}
.input-block-padding-right {
	padding-right: 80px;
}
.input-label-wrapper {
	min-width: 160px;
}
.fa-phone {
	font-size: 18px !important;
}
.fa-envelope {
	font-size: 18px !important;
}
.checkbox-input {
	display: none;
}
.checkbox-input + .checkbox-label {
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.checkbox-input + .checkbox-label:before {
	content: "";
	width: 56px;
	height: 56px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background: #F2F2F2;
	display: inline-block;
	margin-right: 25px;
}
.checkbox-block {
	margin-bottom: 20px;
	padding-left: 4px;
	padding-top: 2px;
}
.checkbox-input:checked + .checkbox-label:after {
	width: 18px;
	height: 10px;
	content: "";
	display: inline-block;
	border-left: 3px solid #231f20;
	border-bottom: 3px solid #231f20;
	position: absolute;
	left: 23px;
	top: 22px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.checkbox-block {
	position: relative;
}
.check-row {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.textarea {
	width: 100%;
	height: 160px;
	padding: 20px;
	border: none;
	background: #f2f2f2;
	resize: none;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 58px;
	&:focus {
		outline: none;
	}
}
.btn-blue {
	background: #81B3D2;
	color: #fff;
	&:hover {
		background: #669EC0;
	}
	&:active {
		background: #5496BD;
		color: #94B9D2;
	}
	&:disabled {
		cursor: default;
		background: #E5E5E5;
	}
}
.btn-lg {
	width: 100%;
	font-size: 21px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.notif {
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	-webkit-align-items: center;
	        align-items: center;
	height: 58px;
}
.hashtags {
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	a {
		color: #000;
		text-decoration: none;
	}
}
.footer {
	height: 120px;
	background: #FEFEFE;
}
.footer-row {
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding-left: 120px;
	padding-right: 120px;
	height: 120px;
	-webkit-align-items: center;
	        align-items: center;
}
.social {
	.btn {
		line-height: 58px;
		i {
			font-size: 18px !important;
		}
	}
}
.dev-logo-svg {
	width: 27px;
	height: 34px;
	margin-left: 11px;
	&:hover {
		fill: #81b3d2;
	}
	&:active {
		fill: #b2b2b2;
	}
}
.dev {
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.dev-text {
	text-transform: uppercase;
}
